<header class="header">
  <div class="container">
    <div class="logo">
      <img src="assets/images/richFieldLogo.png" width="90" alt="Richfield Connect">
    </div>

    <nav class="nav" [class.active]="isMenuOpen">
      <ul>

        <a routerLink="/" routerLinkActive="active">Home</a>
        <a routerLink="/list-jobs" routerLinkActive="active">List Jobs</a>
        <!--  <a routerLink="/jobs-details" routerLinkActive="active">List Jobs</a>-->

        <a routerLink="/employer" routerLinkActive="active">Employers</a>
        <a routerLink="/candidate" routerLinkActive="active">Candidates</a>
        <a routerLink="/courses" routerLinkActive="active">Courses</a>
        <a routerLink="/about" routerLinkActive="active">About</a>
      </ul>
    </nav>

    <div class="auth-buttons">
      <a routerLink="/login" class="btn btn-outline">Login</a>
      <a routerLink="/register" class="btn btn-primary">Register</a>
    </div>

    <button class="menu-toggle" (click)="toggleMenu()">
      <span></span>
      <span></span>
      <span></span>
    </button>
  </div>
</header>
