<header class="header">
  <div class="container">
    <div class="logo">
      <img src="assets/images/richFieldLogo.png" width="90" alt="Richfield Connect">
    </div>

    <nav class="nav" [class.active]="isMenuOpen">
      <ul>
        <a routerLink="/" routerLinkActive="active">Home</a>
        <a routerLink="/list-jobs" routerLinkActive="active">List Jobs</a>
        <a routerLink="/courses" routerLinkActive="active">Courses</a>
        <a routerLink="/about" routerLinkActive="active">About</a>
      </ul>
    </nav>

    <div class="auth-buttons" *ngIf="!isLoggedIn">
      <a routerLink="/login" class="btn btn-outline">Login</a>
      <a routerLink="/user/create" class="btn btn-primary">Register</a>
    </div>

    <!-- Dropdown for logged-in users -->
    <div class="user-profile" *ngIf="isLoggedIn" (mouseenter)="toggleDropdown(true)"
         (mouseleave)="toggleDropdown(false)">
      <div class="profile-btn">
        <img src="assets/images/user/user.png" alt="Profile" class="profile-icon"/>
        <span>{{ firstName }}</span>
        <i class="arrow-down"></i>
      </div>
      <ul class="dropdown-menu" [class.show]="isDropdownOpen">
        <li><a routerLink="/user-profile">My Profile</a></li>
        <li><a routerLink="/saved-jobs">Saved Jobs</a></li>
        <li><a routerLink="/applied-jobs">Applied Jobs</a></li>
        <li *ngIf="isUserRole()"><a routerLink="/manage-jobs">Manage Jobs</a></li>
        <li><a routerLink="/user/settings">Settings</a></li>
        <li><a (click)="logout()">Logout</a></li>
      </ul>
    </div>

    <button class="menu-toggle" (click)="toggleMenu()">
      <span></span>
      <span></span>
      <span></span>
    </button>
  </div>
</header>
