<div class="job-detail-container">
  <div class="main-content">
    <div class="job-header">
      <h1>{{ job.title }}</h1>
      <div class="job-meta">
        <span class="company">{{ job.company }}</span>
        <span class="location">{{ job.location }}</span>
        <span class="type" *ngFor="let type of job.jobTypes" class="type-badge">
                   {{ this.formatJobType(type) }},
          </span>
        <span class="salary">{{ job.salary }}</span>
        <span class="posted">{{ job.createdAt | date:'mediumDate' }}</span>
      </div>
    </div>

    <div class="job-description" [innerHTML]="job.description"></div>
    <div class="job-description">
      <h3>Required Skills:</h3>
      <ul>
        <li *ngFor="let requiredSkill of job.requiredSkills">{{ requiredSkill }}</li>
      </ul>
      <h3>Responsibilities:</h3>
      <ul>
        <li *ngFor="let responsibility of job.responsibilities">{{ responsibility }}</li>
      </ul>
    </div>
    <div class="company-section">
      <h2>About the Company</h2>
      <div class="company-description" [innerHTML]="job.companyDescription"></div>
    </div>

    <div class="benefits-section">
      <h2>Benefits</h2>
      <ol class="benefits-list">
        <li *ngFor="let benefit of job.benefits">{{ benefit }}</li>
      </ol>
    </div>
  </div>

  <div class="sidebar">
    <div class="actions">
      <button class="apply-button" (click)="applyForJob(job)">Apply Now</button>
      <button class="save-button" (click)="saveJob(job)">Save Job</button>
    </div>

    <div class="related-jobs">
      <h3>Related Jobs</h3>
      <div class="job-card" *ngFor="let relatedJob of relatedJobs" (click)="viewJobDetails(relatedJob.id)">
        <h4>{{ relatedJob.title }}</h4>
        <div class="job-meta">
          <span class="company">{{ relatedJob?.company }}</span>
          <span class="location">{{ relatedJob?.location }}</span>
          <span class="type" *ngFor="let type of job.jobTypes" class="type-badge">
                   {{ this.formatJobType(type) }},
          </span>
          <span class="salary">{{ relatedJob?.salary }}</span>
          <span class="posted">{{ job.createdAt | date:'mediumDate' }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
